In [25]:
import numpy as np
import pandas as pd

In [26]:
data=pd.read_csv("./data/train.csv")

In [27]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [28]:
data=data.drop(labels="id",axis=1)

In [29]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [30]:
x=data.drop(labels="price",axis=1)

In [31]:
y=data[["price"]]

In [32]:
x

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [33]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [34]:
categorical_cols=x.select_dtypes(include="object").columns

In [35]:
categorical_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [36]:
numerical_cols=x.select_dtypes(exclude="object").columns

In [37]:
numerical_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [38]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [39]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [40]:
num_pipelines =Pipeline(
    steps=[
        ("impute",SimpleImputer()),
        ("scaler",StandardScaler())
    ]
)

In [41]:
cat_pipelines =Pipeline(
    steps=[
        ("impute",SimpleImputer(strategy="most_frequent")),
        ("encoder",OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
)

In [42]:
preprocessor=ColumnTransformer(
    [
        ("num_pipelines",num_pipelines,numerical_cols),
        ("cat_pipelines",cat_pipelines,categorical_cols)
        
    ]
)

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=343)

In [44]:
preprocessor.fit_transform(x_train)

array([[-1.02014067,  1.54973259, -0.11869241, ...,  1.        ,
         3.        ,  2.        ],
       [ 0.64646225, -0.75627102, -0.11869241, ...,  4.        ,
         3.        ,  4.        ],
       [ 0.4949529 ,  1.08853187, -0.11869241, ...,  4.        ,
         4.        ,  3.        ],
       ...,
       [ 0.60317386, -0.94075131, -0.11869241, ...,  4.        ,
         1.        ,  1.        ],
       [-0.60890099,  0.71957129, -0.11869241, ...,  3.        ,
         1.        ,  3.        ],
       [-0.58725679, -0.38731044, -1.16167113, ...,  4.        ,
         1.        ,  2.        ]])

In [45]:
preprocessor.transform(x_test)

array([[-0.15437292, -0.20283016, -0.11869241, ...,  4.        ,
         5.        ,  3.        ],
       [-0.86863131, -0.47955059, -0.64018177, ...,  4.        ,
         6.        ,  6.        ],
       [-1.04178486, -0.01834987,  0.92428631, ...,  3.        ,
         0.        ,  1.        ],
       ...,
       [-1.02014067,  0.99629172, -0.11869241, ...,  4.        ,
         3.        ,  3.        ],
       [ 0.68975064,  1.45749244, -0.11869241, ...,  2.        ,
         4.        ,  1.        ],
       [-0.93356389,  0.16613042, -0.11869241, ...,  4.        ,
         2.        ,  3.        ]])

In [46]:
preprocessor.get_feature_names_out()

array(['num_pipelines__carat', 'num_pipelines__depth',
       'num_pipelines__table', 'num_pipelines__x', 'num_pipelines__y',
       'num_pipelines__z', 'cat_pipelines__cut', 'cat_pipelines__color',
       'cat_pipelines__clarity'], dtype=object)

In [47]:
x_train=pd.DataFrame(preprocessor.transform(x_train),columns=preprocessor.get_feature_names_out())
x_test=pd.DataFrame(preprocessor.transform(x_test),columns=preprocessor.get_feature_names_out())

In [48]:
x_train

,num_pipelines__carat,num_pipelines__depth,num_pipelines__table,num_pipelines__x,num_pipelines__y,num_pipelines__z,cat_pipelines__cut,cat_pipelines__color,cat_pipelines__clarity
0,-1.020141,1.549733,-0.118692,-1.251719,-1.227823,-1.131237,1.0,3.0,2.0
1,0.646462,-0.756271,-0.118692,0.841358,0.869517,0.750438,4.0,3.0,4.0
2,0.494953,1.088532,-0.118692,0.624833,0.560818,0.692092,4.0,4.0,3.0
3,1.555518,0.258371,-0.640182,1.463868,1.495995,1.508942,4.0,5.0,3.0
4,-0.976852,-1.032991,-0.118692,-1.089325,-1.073473,-1.145823,4.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...
135496,-0.154373,0.627331,-0.640182,0.020367,0.034213,0.079453,4.0,0.0,3.0
135497,1.274144,0.535091,0.924286,1.256365,1.232693,1.260970,3.0,5.0,1.0
135498,0.603174,-0.940751,-0.118692,0.796249,0.833200,0.706678,4.0,1.0,1.0
135499,-0.608901,0.719571,-0.118692,-0.557034,-0.592265,-0.504012,3.0,1.0,3.0
135500,-0.587257,-0.387310,-1.161671,-0.493881,-0.437916,-0.489425,4.0,1.0,2.0

In [49]:
x_test

,num_pipelines__carat,num_pipelines__depth,num_pipelines__table,num_pipelines__x,num_pipelines__y,num_pipelines__z,cat_pipelines__cut,cat_pipelines__color,cat_pipelines__clarity
0,-0.154373,-0.202830,-0.118692,0.038410,0.070530,0.021107,4.0,5.0,3.0
1,-0.868631,-0.479551,-0.640182,-0.899866,-0.955441,-0.956197,4.0,6.0,6.0
2,-1.041785,-0.018350,0.924286,-1.242697,-1.236902,-1.233343,3.0,0.0,1.0
3,-0.998496,-0.202830,-0.640182,-1.125413,-1.164267,-1.160410,4.0,1.0,2.0
4,-0.500680,0.073890,-0.640182,-0.394640,-0.383439,-0.372732,4.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...
58067,-0.630545,-0.018350,1.445776,-0.584100,-0.574107,-0.576945,3.0,1.0,4.0
58068,2.637728,1.180772,-0.118692,2.068334,2.013521,2.150754,2.0,6.0,2.0
58069,-1.020141,0.996292,-0.118692,-1.215632,-1.218744,-1.145823,4.0,3.0,3.0
58070,0.689751,1.457492,-0.118692,0.760161,0.706088,0.896304,2.0,4.0,1.0
58071,-0.933564,0.166130,-0.118692,-1.017150,-1.055315,-1.014544,4.0,2.0,3.0

In [50]:
"""linear regression
lasso
ridge
elastic net"""

'linear regression\nlasso\nridge\nelastic net'

In [51]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [52]:
import numpy as np 
def evaluate_model(true_value,pred_value):
    mae=mean_absolute_error(true_value,pred_value)
    mse=mean_squared_error(true_value,pred_value)
    rmse=np.sqrt(mse)
    rscore=r2_score(true_value,pred_value)
    return mae,rmse,rscore

In [54]:
models={
    "LinearRegression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "ElasticNet": ElasticNet()
    
}

In [60]:
model_list=[]
r2_list=[]

In [61]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)

    #Make Predictions
    y_pred=model.predict(x_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 1025.349459042511
MAE: 675.0100016061355
R2 score 93.57585259342329
===================================


Lasso
Model Training Performance
RMSE: 1021.7211418308801
MAE: 675.8172235347746
R2 score 93.62123732325152
===================================


Ridge
Model Training Performance
RMSE: 1025.3636042572011
MAE: 675.0425135814702
R2 score 93.57567534347154
===================================


ElasticNet
Model Training Performance
RMSE: 1524.640994909135
MAE: 1056.4166122957338
R2 score 85.79612406288824
===================================

In [62]:
r2_list

[0.9357585259342329,
 0.9362123732325152,
 0.9357567534347154,
 0.8579612406288823]

In [63]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'ElasticNet']